* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }

  /* Nav Bar */

  .nav {
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(207,177,183) !important;
  }

  a {
  color:black !important;
  padding: 20px !important;
  }

/* Hero Section */

.jumbotron {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rounded-circle {
  
}