* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  :root{
    --bgcolor: #EAEAEA;
    --border: 6px solid #00ABB3;
  }

  h2 {
    text-align: center !important;
  }

.container-fluid {
  background-color: var(--bgcolor);
}

  /* Nav Bar */

  .nav {
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--bgcolor) !important;
  }

  a:not(.btncustom) {
  color:black !important;
  padding: 20px !important;
  }
  

  a:hover:not(.btcustom) {
    background-color: #00ABB3;
    background:
       linear-gradient(
         to right,
         #00ABB3 0%,
         #00ABB3 1px,
         transparent
       );
  }

/* Hero Section */

.jumbotron {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bgcolor);
  border-bottom: var(--border);
  margin-bottom: 0px;
  padding: 0;
}

/* Portfolio Section */

.cardContainer {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  border-bottom: var(--border) !important;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.img1 {
  height:440px;
}

.card-img {
  height: 300px;
  width: 450px;
}

.card {
  display: flex;
  justify-content: center;
}

h5 {
  text-align: center !important;
}

.sectionHeading {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Skills Section */

.skills {
  border-bottom: var(--border);
}

.valueProp {
  text-align: center;
  list-style-position: inside;
}

/* Contact and About Sectiion */

.about {
  display: flex;
  background-color: var(--bgcolor) !important;
}

.abouthead {
  display: flex;
  padding: 10px;
  align-items: baseline;
  text-align: center;
}

h4 {
  border-right: var(--border);
  border-bottom: var(--border);
}

.custom {
  width: 200px;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
}

.frow {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 20px;
}

h5 {
  padding-top: 20px;
  border-top: var(--border);
}

.fnav {
  width: 200px;
}

.btncustom {
  transition: box-shadow .3s;
  width: 100px;
  height: 40px;
}
  
.btncustom:hover {
  transition: box-shadow .9s;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  background-color: aqua;
  padding: 2px;
}
